<div class="container" *ngIf="numTentativi != 0">
  <h1>Ciao squadra!</h1>
  <form [formGroup] = "form" (ngSubmit)="onSubmit(form)">
    <div class="form-group">
      <label for="risposta">Risposta</label>
      <input type="text" class="form-control" id="risposta" formControlName="risposta" aria-describedby="emailHelp" placeholder="Inserisci la risposta" autofocus>
      <small id="help" class="form-text text-muted">Hai a disposizione {{numTentativi}} tentativi</small>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!form.valid || numTentativi == 0">Invia</button>
  </form>
</div>
<div class="alert alert-danger" *ngIf="numTentativi == 0 && success == false" role="alert">
  <h1>Hai cannato la prova!</h1>
</div>
<div class="alert alert-success d-flex justify-content-center" *ngIf="success == true" role="alert">
  <h1>Hai superato la prova!</h1>
</div>

